<section class="section" data-section="footer">
    <div class="container" data-container="footer">
        <div class="footer">
            <div class="footer__content">
                <div class="footer__copyright">© 2021 Get-Web.Site</div>
                <div class="footer__links">
                    <a href="#" class="footer__link">Privacy Policy</a>
                    <a href="#" class="footer__link">User Agreement</a>
                </div>
            </div>
            <div class="footer__bnrs">
                <a href="https://get-web.site/" target="_blank" class="bnr" title="Front-End Developer: Vitalii P. | Get-Web.site">
                    <img src="./images/logo-get-web.png" alt="get-web.site" class="bnr__img">
                </a>
            </div>
        </div> <!-- END  footer -->
    </div> <!-- END  container -->
</section> <!-- END  section -->
