<!DOCTYPE html>
<html lang="en">

    <!-- inject:../parts/head.html -->
    <!-- endinject -->

    <body class="body">

        <!-- inject:../parts/preload/preload.html -->
        <!-- endinject -->

        <div class="page">

            <!-- inject:../parts/example/example.html -->
            <!-- endinject -->

            <!-- inject:../parts/footer/footer.html -->
            <!-- endinject -->

        </div> <!-- END page -->

        <!-- inject:../parts/libs-in-footer.html -->
        <!-- endinject -->

    </body>

</html>
