/* example */

[data-section="example"] {
    flex-grow: 1;
}

[data-container="example"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-section="example"]:after {
    content: "";
    background-color: var(--color-1);
    background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    display: block;
    position: absolute;
    z-index: -1;
    left: -200px;
    right: -200px;
    top: 0;
    bottom: 0;
    animation: bg 3s linear infinite;
    background-size: 200px;
}

@keyframes bg {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(200px);
    }
}

.example {
    width: 55vh;
    height: 55vh;
    background: radial-gradient(circle closest-side, rgba(0, 0, 0, 0) 20vh, rgb(255, 255, 255) 31px, rgb(255, 255, 255) 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10vh;
}

.example__content {
    color: var(--color-0);
    font-size: calc(2vw + 2vh);
    font-weight: 700;
    text-align: center;
    mix-blend-mode: difference;
}

/* postcss-selector-not */
/* https://github.com/postcss/postcss-selector-not */

.example:not(.p, :nth-child(1)) {
    /* code */
}

/* ----------------------------------------------- */

/* postcss-custom-media */
/* https://github.com/postcss/postcss-custom-media */

@media (--large-viewport) {
    .example-media {
        /* code */
    }
}

/* or */

.example-media {
    /* code */

    @media (--large-viewport) {
        /* code */
    }
}

/* ----------------------------------------------- */

/* postcss-mixins */
/* https://github.com/postcss/postcss-mixins */

.example-mixin {
    @mixin size 20px,
    15px;
}